@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
	background-color: #FFFFFF;
	background-image: url("../images/Instakushlogo_v1.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	background-size: 10%;
	height: 80px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

header #api_status {
    position: absolute;
    right: 30px;
    top: 15px;
}

#api_status {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #cccccc;
}

#api_status.available {
   background-color: #ff545f;
}
